<GridLayout rows="auto, auto, auto" columns="*" height="200" width="400">
    <StackLayout row="0" marginTop="20">
        <Label [text]="stockItemName" textWrap="true" color="black" marginLeft="20" marginRight="20" fontSize="18" fontWeight="600" class="text-font" > </Label>
        <Label [text]="stockItemPrice" textWrap="true" color="black" marginLeft="20" marginRight="20" fontSize="15" fontWeight="300" class="text-font"> </Label>
    </StackLayout>
    <StackLayout class="hr-light" row="1" marginTop="12"></StackLayout>
    <FlexboxLayout flexDirection="row" row="2" margin="20" justifyContent="space-around">
        <Label text="&#xf146;" class="fa h1 decrease" color="green" fontSize="60" (tap)="decreaseCounter()" [disabled]="setFlag" ></Label>
        <Label [text]="counter" class="fa h1" color="black" fontSize="50" ></Label>
        <Label text="&#xf0fe;" class="fa h1" color="green" fontSize="60" (tap)="increaseCounter()"></Label>
        <Button class="-primary" color="white" backgroundColor="green">
            <FormattedString>
                <Span [text]="stockTotalPrice"></Span>
                <Span text=" ADD TO CART"></Span>
            </FormattedString>
        </Button>
    </FlexboxLayout>
</GridLayout>
