<ActionBar class="action-bar">
        <!--
        Use the NavigationButton as a side-drawer button in Android
        because ActionItems are shown on the right side of the ActionBar
        -->
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <!--
        Use the ActionItem for IOS with position set to left. Using the
        NavigationButton as a side-drawer button in iOS is not possible,
        because its function is to always navigate back in the application.
        -->
        <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>
        <Label class="action-bar-title" text="Select from category"></Label>
    </ActionBar>

    <GridLayout  row="2" width="100%">


            <ListView #listview [items]="categories">
                    <ng-template let-category="item">
                            <CardView class="cardStyle" elevation="10" radius="2" row="0" style="margin-top: 20px;" margin="10" (tap) = "onNavItemTap('/vendors')">
                                <StackLayout orientation="horizontal" style="padding: 70px;">
                                    <Image src="{{ category.icon }}" stretch="aspectFill"
                                    height="50" width="50"></Image>
                                    <StackLayout class="category">
                                        <Label [text]="category.name" class="vendorName"></Label>
                                        <Label [text]="category.description" class="vendor__description"></Label>
                                    </StackLayout>
                                </StackLayout>
                            </CardView>
                    </ng-template>
                </ListView>
</GridLayout>



